.App {
  text-align: center;
  background-color: #597aba;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#gameContainer {
  position: relative;
  text-align: center; 
  margin: 0 auto; 
}
.cell {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: .1px solid;
  line-height: 100px;
  cursor: pointer;
  font-size: 52px;
  user-select: none;
}
#cellContainer {
  display: grid; 
  grid-template-columns: repeat(3 , auto);
  margin: auto;
  width: 100%;
}
button {
  padding: 24px 32px;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  outline: none;
  border: 1px solid;
  font-size: 1.2rem;
  cursor: pointer;
  width: 130px;
  user-select: none;
}
.status_container {
  margin-top: 16px;
  border: 1px solid;
  margin: 16px auto;
  max-width: 50%;
  border-radius: 12px;
  user-select: none;
}
.title_container {
  border: 1px solid;
  max-width: 70%;
  margin: 16px auto;
  border-radius: 12px;
  user-select: none;
}
.menu-options {
  margin-top: 12px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
}
.btn_pvc.active {
  background-color: rgb(40, 109, 40);
}
.btn_pvc {
  background-color: rgb(154, 47, 2);
}